# stock price of company 
( apple, microsoft, amazon, google, facebook)

https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#fred

In [1]:
import pandas_datareader.data as web
import datetime
import copy

In [2]:
#start從2018/01/01開始，多取兩週時間，以便抓出上一個交易日data
start = datetime.date(2020, 10, 14)
start_delta = start - datetime.timedelta(weeks=2) #多取兩個禮拜的data
end = datetime.date(2020, 10, 22)#datetime.date.today()

# APPLE

In [43]:
AAPL = web.DataReader('AAPL', 'stooq',start_delta, end)
#drop unnecessary column & reverse index
apple = AAPL.drop(["Open", "High", "Low", "Volume"], axis=1).reindex(index=AAPL.index[::-1])
apple['daily_return'] = ((apple['Close']/apple['Close'].shift(1))-1) * 100
# apple

In [44]:
# copy data & insert new column
apple_price = copy.deepcopy(apple)
apple_price.insert(loc=2, column='UpDown', value='') 

apple_price.loc[apple_price['daily_return']>0, 'UpDown'] = 1
apple_price.loc[apple_price['daily_return']==0, 'UpDown'] = 0
apple_price.loc[apple_price['daily_return']<0, 'UpDown'] = -1

# 切割 -> 判別2018-01-01前一天工作日
for i in range(apple_price.size):
    if apple_price.index[i] >= start:
        apple_price = apple_price[i:]
        break
apple_price

             Close  daily_return UpDown
Date
2020-10-14  121.19      0.074319      1
2020-10-15  120.71     -0.396072     -1
2020-10-16  119.02     -1.400050     -1
2020-10-19  115.98     -2.554193     -1
2020-10-20  117.51      1.319193      1
2020-10-21  116.87     -0.544634     -1
2020-10-22  115.75     -0.958330     -1

# Microsoft

In [47]:
MSFT = web.DataReader('MSFT', 'stooq',start_delta, end)
micro = MSFT.drop(["Open", "High", "Low", "Volume"],axis=1).reindex(index=MSFT.index[::-1])
micro['daily_return'] = ((micro['Close']/micro['Close'].shift(1))-1) * 100
# micro

In [48]:
micro_price = copy.deepcopy(micro)
micro_price.insert(loc=2, column='UpDown', value='')

micro_price.loc[micro_price['daily_return']>0, 'UpDown'] = 1
micro_price.loc[micro_price['daily_return']==0, 'UpDown'] = 0
micro_price.loc[micro_price['daily_return']<0, 'UpDown'] = -1

# 切割 -> 判別2018-01-01前一天工作日
for i in range(micro_price.size):
    if micro_price.index[i] >= start:
        micro_price = micro_price[i:]
        break
micro_price

             Close  daily_return UpDown
Date
2020-10-14  220.86     -0.897424     -1
2020-10-15  219.66     -0.543331     -1
2020-10-16  219.66      0.000000      0
2020-10-19  214.22     -2.476555     -1
2020-10-20  214.65      0.200728      1
2020-10-21  214.80      0.069881      1
2020-10-22  214.89      0.041899      1

# Amazon

In [49]:
AMZN = web.DataReader('AMZN', 'stooq',start_delta, end)
amazon = AMZN.drop(['Open','High','Low','Volume'],axis=1).reindex(index=AMZN.index[::-1])
amazon['daily_return'] = ((amazon['Close']/amazon['Close'].shift(1))-1) * 100
# amazon

In [50]:
amazon_price = copy.deepcopy(amazon)
amazon_price.insert(loc=2, column='UpDown', value='')

amazon_price.loc[amazon_price['daily_return']>0, 'UpDown'] =1
amazon_price.loc[amazon_price['daily_return']==0, 'UpDown'] =0
amazon_price.loc[amazon_price['daily_return']<0, 'UpDown'] =-1

for i in range(amazon_price.size):
    if amazon_price.index[i] >= start:
        amazon_price = amazon_price[i:]
        break
amazon_price

              Close  daily_return UpDown
Date
2020-10-14  3363.71     -2.320807     -1
2020-10-15  3338.65     -0.745011     -1
2020-10-16  3272.71     -1.975050     -1
2020-10-19  3207.21     -2.001399     -1
2020-10-20  3217.01      0.305562      1
2020-10-21  3184.94     -0.996888     -1
2020-10-22  3176.40     -0.268137     -1

# Google

In [51]:
GOOGL = web.DataReader('GOOGL', 'stooq',start_delta, end)
google = GOOGL.drop(['Open','High','Low','Volume'],axis=1).reindex(index=GOOGL.index[::-1])
google['daily_return'] = ((google['Close']/google['Close'].shift(1))-1) * 100
# google

In [52]:
google_price = copy.deepcopy(google)
google_price.insert(loc=2, column='UpDown',value='')#insert new column

google_price.loc[google_price['daily_return']>0, 'UpDown'] = 1
google_price.loc[google_price['daily_return']==0, 'UpDown'] = 0
google_price.loc[google_price['daily_return']<0, 'UpDown'] = -1

for i in range(google_price.size):
    if google_price.index[i] >= start:
        google_price = google_price[i:]
        break
google_price

              Close  daily_return UpDown
Date
2020-10-14  1563.44     -0.231642     -1
2020-10-15  1555.47     -0.509773     -1
2020-10-16  1567.70      0.786258      1
2020-10-19  1529.95     -2.407986     -1
2020-10-20  1551.08      1.381091      1
2020-10-21  1585.99      2.250690      1
2020-10-22  1606.66      1.303287      1

# Facebook

In [53]:
FB = web.DataReader('FB', 'stooq',start_delta, end).dropna() 
# drop column & reverse index
fb = FB.drop(["Open", "High", "Low", "Volume"],axis=1).reindex(index=FB.index[::-1]) 
fb['daily_return'] = ((fb['Close']/fb['Close'].shift(1))-1) * 100
# fb

In [54]:
fb_price = copy.deepcopy(fb)
fb_price.insert(loc=2, column='UpDown',value='')#insert new column

fb_price.loc[fb_price['daily_return']>0, 'UpDown'] = 1
fb_price.loc[fb_price['daily_return']==0, 'UpDown'] = 0
fb_price.loc[fb_price['daily_return']<0, 'UpDown'] = -1

for i in range(fb_price.size):
    if fb_price.index[i] >= start:
        fb_price = fb_price[i:]
        break
fb_price

             Close  daily_return UpDown
Date
2020-10-14  271.82     -1.564424     -1
2020-10-15  266.72     -1.876242     -1
2020-10-16  265.93     -0.296191     -1
2020-10-19  261.40     -1.703456     -1
2020-10-20  267.56      2.356542      1
2020-10-21  278.73      4.174765      1
2020-10-22  278.12     -0.218850     -1

In [76]:
company_symbol = ['AMZN', 'AAPL', 'FB', 'GOOGL', 'MSFT']
company_symbol

['AMZN', 'AAPL', 'FB', 'GOOGL', 'MSFT']

In [81]:
for name in company_symbol:
    data = web.DataReader(name, 'stooq',start_delta, end)
    #drop unnecessary column & reverse index
    data = data.drop(["Open", "High", "Low", "Volume"], axis=1).reindex(index=data.index[::-1])
    data['daily_return'] = ((data['Close']/data['Close'].shift(1))-1) * 100
    
    data.insert(loc=2, column='UpDown',value='')#insert new column

    data.loc[data['daily_return'] > 2, 'UpDown'] = 1
    data.loc[data['daily_return'] < -2, 'UpDown'] = -1
    data['UpDown'] = data['UpDown'].replace('', 0)

    for i in range(data.size):
        if data.index[i] >= start:
            data = data[i:]
            break
    data['date'] = data.index#保留data，儲存成csv時index會並成0~n        
    data.to_csv(name + '_stock_price' + '.csv',index = False)
data

              Close  daily_return  UpDown       date
Date
2020-10-14  1563.44     -0.231642       0 2020-10-14
2020-10-15  1555.47     -0.509773       0 2020-10-15
2020-10-16  1567.70      0.786258       0 2020-10-16
2020-10-19  1529.95     -2.407986      -1 2020-10-19
2020-10-20  1551.08      1.381091       1 2020-10-20
2020-10-21  1585.99      2.250690       1 2020-10-21
2020-10-22  1606.66      1.303287       1 2020-10-22

In [46]:
import pandas as pd
data = pd.read_csv('AAPL' + '_stock_price' + '.csv')
data

    Close  daily_return  UpDown        date
0  121.19         -0.91      -1  2020-10-14
1  120.71         -1.48      -1  2020-10-15
2  119.02         -2.69      -1  2020-10-16
3  115.98         -4.04      -1  2020-10-19
4  117.51          0.53       1  2020-10-20
5  116.87         -1.64      -1  2020-10-21
6  115.75         -2.12      -1  2020-10-22